$octopus-primary: mat-palette($mat-orange, 900, 100,500 );
$octopus-accent: mat-palette($mat-grey, 300, 300, 700);
$octopus-warn: mat-palette($mat-red, 500, A200, 800);

$octopus-theme: mat-light-theme($octopus-primary, $octopus-accent, $octopus-warn);