<!--div fxLayout="column" fxFlex>
    <app-header></app-header>
    <div class="content-container" #scrollContainer [perfectScrollbar]>
        <div class="content">
            <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
        </div>
    </div>
    <app-footer></app-footer>
</div -->

<mat-sidenav-container class="app-background">
<!--
    <app-sidenav-menu #sidenavmenu></app-sidenav-menu>
-->
    <app-header></app-header>
<!--
    <app-menu fxShow="true" class="" fxShow.gt-sm></app-menu>
-->
    <div class="theme-container main" #scrollContainer [perfectScrollbar]>
<!--
        <app-breadcrumb></app-breadcrumb>
-->
        <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
    </div>

    <app-footer></app-footer>

    <div *ngIf="showBackToTop" fxLayout="row" fxLayoutAlign="center center" class="back-to-top transition" (click)="scrollToTop()">
        <mat-icon>arrow_upward</mat-icon>
    </div>
    <!-- fxLayout="row wrap" fxFlexFill class="paleta" cols="5">
        <div fxFlex="20" class="primary">primary</div>
        <div fxFlex="20" class="accent">accent</div>
        <div fxFlex="20" class="warn">warn</div>
        <div fxFlex="20" class="background">background</div>
        <div fxFlex="20" class="foreground">foreground</div>
    </div-->

</mat-sidenav-container>
