<div class="login">
    <div class="container">
        <div class="mat-elevation-z12">
            <div class="title">{{ 'PUBLIC.LOGIN.LOG_IN'  }}</div>
            <form #form="ngForm" autocomplete="off" (ngSubmit)="form.valid && login()">
                <div class="content" fxLayout="column" fxLayoutAlign="start stretch">
                    <mat-form-field>
                        <input matInput required type="text" name="email" placeholder="{{ 'PUBLIC.LOGIN.USERNAME'  }}" [(ngModel)]="email">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput required type="password" name="password" placeholder="{{ 'PUBLIC.LOGIN.PASSWORD'  }}" [(ngModel)]="password">
                    </mat-form-field>
                    <button mat-raised-button color="primary" [disabled]="!form.valid || isProcessing">
                        {{ 'PUBLIC.LOGIN.LOG_IN'  }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
